body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/751678/background-fireplace.svg');
    	background-repeat: no-repeat;
	background-size: 1024px 800px;
  background-color: rgb(16, 6, 53);
  z-index: 1;
  }

  .fire {
   
    font-size: 24px;
    filter: blur(0.01em);
    -webkit-filter: blur(0.01em);
    /* margin: 1em 20em 1em 1em; */
    position: relative;
    width: 5em;
    height: 20em;
  }
  .moon {
	position: fixed;
  top: 2%;
	width: 400px;
	height: 400px;
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/751678/moon.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

}

  .particle {
    animation: rise 500ms ease-in infinite;
    background-image: radial-gradient(rgb(255, 80, 0) 20%, rgba(255, 80, 0, 0) 70%);
    border-radius: 50%;
    mix-blend-mode: screen;
    opacity: 0;
    position: absolute;
    bottom: 0;
    width: 5em;
    height: 5em;
  }
  .wood {
			width: 300px;
      margin-bottom: 3em;
      margin-right: 20em;
      background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/751678/fireplace.svg);
    background-repeat: no-repeat;
    background-size: 232px 873px;
			
      
		}

  @keyframes rise {
    from {
      opacity: 0;
      transform: translateY(0) scale(1);
    }
    25% {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: translateY(-10em) scale(0);
    }
  }